.footer {
    background: #78FFD6;
    padding: 90px 0;

    .footer__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    .top__menu {
        display: flex;
        width: 30%;

        @include tablets() {
            width: 45%;
            margin-bottom: 80px;
        }

        @include phones() {
            width: 100%;
        }

        .menu__list {
            display: flex;
            flex-direction: column;
        }

        .list__item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .item__link {
            color: $gray;
            text-decoration: none;
        }
    }

    .top__about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;

        @include tablets() {
            width: 45%;
            margin-bottom: 80px;
        }

        @include phones() {
            width: 100%;
        }

        .about__text {
            margin: 0;

            @include phones() {
                margin-bottom: 45px;
            }

            .text__bold {
                font-weight: bold;

                @include tablets() {
                    color: #fff;
                }
            }
        }

        .about__phones {
            display: flex;
            flex-direction: column;

            @include phones() {
                margin-bottom: 45px;
            }
        }

        .phones__link {
            color: $gray;
            text-decoration: none;
        }

        .socials__link {
            text-decoration: none;
            margin-right: 30px;
        }
    }

    .top__out {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 30%;

        @include tablets() {
            width: 45%;
            order: 2;
        }

        @include phones() {
            width: 100%;
            flex-direction: row;
        }
    }

    .out__link {
        background: url('../images/arrow-top.svg');
        width: 60px;
        height: 60px;
        transition: .3s;

        @include phones() {
            order: 2;
        }

        &:hover {
            background: url('../images/arrow-top-active.svg');
        }
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #3C67CA;
        width: 100%;
        margin-top: 100px;

        @include tablets() {
            width: 45%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
        }

        @include phones() {
            width: 100%;
            margin-bottom: 100px;
        }
    }

    .bottom__subtitle {
        font-size: 18px;
        font-weight: 600;
    }

    .bottom__list {
        display: flex;

        @include tablets() {
            flex-direction: column;
        }

        .list__item {
            margin-right: 50px;

            @include tablets() {
                margin-right: 0;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-right: 0;

                @include tablets() {
                    margin-bottom: 0;
                }
            }
        }

        .item__link {
            color: $blue-hover;
            text-decoration: none;
            font-size: 14px;
            transition: .3s;

            &:hover {
                color: $blue;
            }
        }
    }
}