.goals {
    .goals__top {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 70px;

        @include phones() {
            justify-content: center;
            margin-bottom: 60px;
        }

        .top__line {
            border-bottom: 1px solid $gray;
            height: 30px;
            width: 60%;

            @include tablets() {
                width: 35%;
            }

            @include phones() {
                display: none;
            }
        }
    }

    .goals__content {
        display: flex;
        justify-content: space-between;

        @include tablets() {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    .goals__text {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablets() {
            width: 100%;
            margin-bottom: 65px;
        }

        .text__list {
            display: flex;
            flex-direction: column;
        }

        .list__item {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;

                @include tablets() {
                    margin-bottom: 30px;
                }
            }

            .item__img {
                margin-right: 20px;
                width: 45px;
                height: 45px;
            }

            .item__text {
                margin: 0;
            }
        }

        .text__link {
            color: $blue;
            text-decoration: none;
            z-index: 2;
        }
    }

    .goals__graph {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include tablets() {
            width: 100%;
        }

        @include phones() {
            align-items: center;
        }

        .graph__text {
            margin: 0 0 30px 0;

            @include phones() {
                width: 100%;
            }
        }

        .graph__img {
            margin-bottom: 150px;

            @include tablets() {
                margin-bottom: 60px;
                width: 100%;
            }
        }
    }
}