.header {
    padding: 20px 0;
    width: 100%;

    .header__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav {
        width: 40%;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;

        .item__link {
            color: #3E4A59;
            font-size: 16px;
            transition: .3s;

            &:hover {
                text-decoration: underline;
                color: #479BFF;
            }
        }
    }
}