.reviews {
    padding-bottom: 150px;
    background: url('../images/reviews-bg.png') no-repeat;
    background-size: cover;

    .reviews__top {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 70px;
        z-index: 2;

        @include phones() {
            justify-content: center;
        }

        .top__line {
            border-bottom: 1px solid $gray;
            height: 30px;
            width: 50%;

            @include phones() {
                display: none;
            }
        }
    }

    .reviews__arrows {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include tablets() {
            justify-content: flex-end;
        }

        .arrow__btn {
            background: none;
            border: none;
            width: 60px;
            height: 60px;
            cursor: pointer;
            transition: .3s;
            outline: none;

            &--right {
                background: url('../images/slider/arrow-right.svg') no-repeat center center;

                &:hover {
                    background: url('../images/slider/arrow-right-active.svg') no-repeat center center;
                }
            }

            &--left {
                background: url('../images/slider/arrow-left.svg') no-repeat center center;
                margin-right: 50px;

                &:hover {
                    background: url('../images/slider/arrow-left-active.svg') no-repeat center center;
                }
            }
        }
    }

    .reviews__slider {
        z-index: 2;
        .slider__slide {
            display: flex !important;
            justify-content: space-between;

            @include tablets() {
                flex-direction: column;
                justify-content: flex-start;
            }

            .slide__content {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include tablets() {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }

            .slide__subtitle {
                margin: 0 0 30px 0;

                @include phones() {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .slide__text {
                margin: 0;

                @include phones() {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            .content__btns {
                display: flex;

                .slider__btn {
                    border: none;
                    background: none;
                    cursor: pointer;
                    outline: none;
                    margin-right: 60px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .slide__img {
                width: 30%;

                @include tablets() {
                    width: 100%;
                    order: -1;
                    margin-bottom: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .img__img {
                    width: 100%;

                    @include tablets() {
                        width: 80%;
                    }
                }
            }
        }
    }
}