.work {
    .work__top {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 70px;

        @include phones() {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 60px;
        }

        .work__subtitle {
            margin-bottom: 10px;
        }

        .top__line {
            border-bottom: 1px solid $gray;
            height: 30px;
            width: 60%;
            z-index: 2;

            @include tablets() {
                width: 40%;
            }

            @include phones() {
                display: none;
            }
        }

        .top__link {
            color: $blue;
            font-size: 18px;
            text-decoration: none;
            transition: .3s;
            z-index: 2;


            &:hover {
                color: $blue-hover;
            }
        }
    }

    .work__slider {
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        z-index: 2;

        @include phones() {
            margin-bottom: 30px;
        }

        .work__slide {
            display: flex !important;
            justify-content: space-between;

            @include tablets() {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            @include phones() {
                align-items: center;
                justify-content: center;
            }
        }

        .slide__content {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @include tablets() {
                width: 100%;
                margin-bottom: 60px;
            }

            .slide__title {
                font-size: 24px;
                font-weight: 500;
                margin: 0;
            }

            .slide__text {
                font-size: 18px;
                margin: 0;
            }
        }

        .slide__img {

            .img__img {
                width: 100%;
            }

            @include tablets() {
                width: 100%;
                margin-bottom: 60px;
            }

            @include phones() {
                margin-bottom: 30px;
            }
        }

        .slide__btn {
            text-decoration: none;

            @include tablets() {
                display: none;
            }

            &--mob {
                display: none;

                @include tablets() {
                    display: flex;
                }
            }
        }
    }
    .wrap-slider__arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .arrow__btn {
            background: none;
            border: none;
            width: 60px;
            height: 60px;
            cursor: pointer;
            transition: .3s;
            outline: none;

            &--right {
                background: url('../images/slider/arrow-right.svg') no-repeat center center;

                &:hover {
                    background: url('../images/slider/arrow-right-active.svg') no-repeat center center;
                }
            }

            &--left {
                background: url('../images/slider/arrow-left.svg') no-repeat center center;
                margin-right: 50px;

                &:hover {
                    background: url('../images/slider/arrow-left-active.svg') no-repeat center center;
                }
            }
        }
    }
}