<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Благотворительный фонд</title>

    <!-- Подключаем стили -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/slick.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <!-- Подключаем стили -->
</head>

<body>
    <div class="wrapper">
        <header class="header header--color">
            <div class="container header__container">
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="list__item"><a class="item__link" href="#">Помогаем</a></li>
                        <li class="list__item"><a class="item__link" href="#">Наша работа</a></li>
                        <li class="list__item"><a class="item__link" href="#">Команда</a></li>
                        <li lass="list__item"><a class="item__link" href="#">Контакты</a></li>
                    </ul>
                </nav>
                <a href="#" class="header__logo"><img class="logo__img" src="./assets/images/logo.png"
                        alt="Социально-правовой щит"></a>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="list__item"><a class="item__link" href="#">Финансовые отчеты</a></li>
                        <li class="list__item"><a class="item__link" href="#">Сотрудничество</a></li>
                        <li class="list__item"><a class="item__link" href="#">Документы</a></li>
                    </ul>
                </nav>
                <button class="header__burger" type="button"></button>
            </div>
        </header>
        <div class="breadcrumbs">
            <div class="container breadccrumbs__container">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item"><a href="#" class="item__link">Главная</a></li>
                    <li class="breadcrumbs__item breadcrumbs__item--active">/</li>
                    <li class="breadcrumbs__item breadcrumbs__item--active">Приглашаем к сотрудничеству</li>
                </ul>
            </div>
        </div>
        <section class="section cooperation">
            <div class="container cooperation__container">
                <div class="cooperation__top">
                    <div class="top__line"></div>
                    <h1 class="subtitle top__subtitle">Приглашаем к сотрудничеству</h1>
                </div>
                <div class="cooperation__content">
                    <p> Приглашаем всех желающих к сотрудничеству! </p>
                    <p> <b>Стать донором</b> — приглашаем компании или частных лиц, готовых оказывать материальную поддержку нашим подопечным на безвозмездной постоянной основе;</p>
                    <p> <b>Стать меценатом</b> — приглашаем всех неравнодушных финансировать мероприятия, проводимые для наших подопечных;</p>
                    <p> <b>Стать спонсором</b> — мы готовы предложить максимальное освещение информации о спонсорских взносах;</p>
                    <p> <b>Стать волонтером</b> — даже если у Вас нет свободных финансов, мы будем рады Вашему участию в наших мероприятиях</p>
                    <p>Больше всего детям не хватает внимания и любви! Давайте уделять им немного больше нашего времени!</p>
                    <p>Мы будем благодарны за возможность проводить наши Благотворительные мероприятия на Вашей территории (Благотворительные вечера, открытые мастер-классы, образовательные и спортивные мероприятия).</p>
                    <p><b><i>Вы сможете помочь нам, рассказав о нас своим знакомым и друзьям! Отметьте нас «лайком» в социальных сетях или просто поговорите о нас за дружеским ужином.</i></b></p>
                    <div class="content__socials">
                        <a href="#" class="socials__soc socials__soc--twitter"></a>
                        <a href="#" class="socials__soc socials__soc--instagram"></a>
                        <a href="#" class="socials__soc socials__soc--whatsapp"></a>
                        <a href="#" class="socials__soc socials__soc--facebook"></a>
                        <a href="#" class="socials__soc socials__soc--google"></a>
                        <a href="#" class="socials__soc socials__soc--messanger"></a>
                        <a href="#" class="socials__soc socials__soc--youtube"></a>
                        <a href="#" class="socials__soc socials__soc--vk"></a>
                        <a href="#" class="socials__soc socials__soc--telegram"></a>
                    </div>
                </div>
                <div class="cooperation__form">
                    <form action="" class="form__form">
                        <h2 class="form__title">Ждем ваших предложений</h2>
                        <input type="text" class="form__inp" placeholder="Ваш E-mail ">
                        <textarea class="form__textarea" name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                        <button class="btn form__btn">Отправить</button>
                        <p class="form__text">
                            Нажимая на кнопку, я принимаю <a href="#" class="form__link">соглашение​</a> на обработку персональных данных
                        </p>
                    </form>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__top">
                    <nav class="top__menu">
                        <ul class="menu__list">
                            <li class="list__item">
                                <a href="#" class="item__link">Помогаем</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Команда</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Контакты</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Финансовые отчеты</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Сотрудничество</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Документы</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="top__about">
                        <p class="about__text">
                            <span class="text__bold">Наш адрес:</span> <br>
                            г. Зеленоград, проезд 4806-й, д.6
                        </p>
                        <p class="about__text">
                            <span class="text__bold">Почта:</span> <br>
                            info@spsfond.ru
                        </p>
                        <div class="about__phones">
                            <a href="tel:+74993460918" class="phones__link">+7 (499) 346 09 18</a>
                            <a href="tel:+79671061107" class="phones__link">+7 (967) 106 11 07</a>
                        </div>
                        <div class="about__socials">
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/vk.svg" alt="#" class="link__img">
                            </a>
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/fb.svg" alt="#" class="link__img">
                            </a>
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/inst.svg" alt="#" class="link__img">
                            </a>
                        </div>
                    </div>
                    <div class="top__out">
                        <a href="#" class="out__link"></a>
                        <p class="out__text">Copyright © 2018 - 2021</p>
                    </div>
                    <div class="footer__bottom">
                        <h3 class="bottom__subtitle">Наши партнеры</h3>
                        <ul class="bottom__list">
                            <li class="list__item"><a href="www.dolgovnet.msk.ru"
                                    class="item__link">www.dolgovnet.msk.ru</a></li>
                            <li class="list__item"><a href="www.graspolimer.ru"
                                    class="item__link">www.graspolimer.ru</a></li>
                            <li class="list__item"><a href="www.I-l.ru" class="item__link">www.I-l.ru</a></li>
                            <li class="list__item"><a href="www.consultp.ru" class="item__link">www.consultp.ru</a></li>
                            <li class="list__item"><a href="www.mhevent.ru" class="item__link">www.mhevent.ru</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="menu">
            <div class="container menu__container">
                <a href="#" class="menu__logo">
                    <img src="./assets/images/logo.png" alt="" class="logo__img">
                </a>
                <ul class="menu__list">
                    <li class="list__item">
                        <a href="#" class="item__link">Помогаем</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Наша работа</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Команда</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Контакты</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Финансовые отчеты</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Сотрудничество</a>
                    </li>
                    <li class="list__item">
                        <a href="#" class="item__link">Документы</a>
                    </li>
                </ul>
                <button class="menu__btn">&times;</button>
            </div>
        </div>

        <!-- Подключаем все скрипты -->
        <script src="./assets/scripts/jquery.min.js"></script>
        <script src="./assets/scripts/slick.js"></script>
        <script src="./assets/scripts/main.js"></script>
        <!-- Подключаем все скрипты -->
</body>

</html>