<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Благотворительный фонд</title>

    <!-- Подключаем стили -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles/slick.css">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <!-- Подключаем стили -->
</head>

<body>
    <div class="wrapper wrapper--main">
        <header class="header">
            <div class="container header__container">
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="list__item"><a class="item__link" href="#">Помогаем</a></li>
                        <li class="list__item"><a class="item__link" href="#">Наша работа</a></li>
                        <li class="list__item"><a class="item__link" href="#">Команда</a></li>
                        <li lass="list__item"><a class="item__link" href="#">Контакты</a></li>
                    </ul>
                </nav>
                <a href="#" class="header__logo"><img class="logo__img" src="./assets/images/logo.png"
                        alt="Социально-правовой щит"></a>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="list__item"><a class="item__link" href="#">Финансовые отчеты</a></li>
                        <li class="list__item"><a class="item__link" href="#">Сотрудничество</a></li>
                        <li class="list__item"><a class="item__link" href="#">Документы</a></li>
                    </ul>
                </nav>
                <!-- <button class="header__menu-btn" type="button">
                    <img class="menu-btn__img" src="./assets/images/burger.png" alt="меню">
                </button> -->
            </div>
        </header>
        <section class="section hero">
            <div class="container hero__container">
                <div class="hero__text">
                    <h1 class="text__title">
                        <span class="title__span">Благотворительный фонд</span>
                        «Социально-правовой щит»
                    </h1>
                    <button class="btn hero__btn">Хочу помочь</button>
                </div>
                <div class="hero__img">
                    <img class="img__img" src="./assets/images/hero.png" alt="">
                </div>
            </div>
        </section>
        <section class="section help">
            <div class="container help__container">
                <div class="help__top">
                    <h2 class="subtitle help__subtitle">Мы помогаем</h2>
                    <div class="top__line"></div>
                </div>
                <ul class="help__list">
                    <li class="list__item">
                        <img src="./assets/images/hero-help-1.png" alt="#" class="item__img">
                        <h3 class="item__title">Помогаем деятельности в сферах:</h3>
                        <ul class="item__list">
                            <li class="list__item">Образования</li>
                            <li class="list__item">Науки</li>
                            <li class="list__item">Культуры</li>
                            <li class="list__item">Искусства</li>
                            <li class="list__item">Просвещения</li>
                            <li class="list__item">Духовного развития личности</li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/hero-help-2.png" alt="#" class="item__img">
                        <h3 class="item__title">Помогаем многодетным семьям!</h3>
                    </li>
                    <li class="list__item">
                        <img src="./assets/images/hero-help-3.png" alt="#" class="item__img">
                        <h3 class="item__title">Содействуем развитию физической культуре и массовому спорту!</h3>
                    </li>
                </ul>
                <button class="btn help__btn">Узнать подробнее</button>
            </div>
        </section>
        <section class="section work">
            <div class="container work__container">
                <div class="work__top">
                    <h2 class="subtitle work__subtitle">Наша работа</h2>
                    <div class="top__line"></div>
                    <a href="#" class="top__link">Смотреть всё</a>
                </div>
                <div class="work__wrap-slider">
                    <div class="work__slider">
                        <div class="work__slide">
                            <div class="slide__content">
                                <h3 class="slide__title">Поездка в г.Кашин</h3>
                                <p class="slide__text">
                                    6 сентября 2018 года, в солнечный четверг, наша команда волонтеров посетила
                                    Социально-реабилитационный центр для несовершеннолетних в г. Кашине. В рамках
                                    договоренностей, были закуплены привезены необходимые хозяйственные и канцелярские
                                    товары, а также проведен культурно-исторических экскурс народов Уганды.
                                </p>
                                <a href="#" class="btn slide__btn">Читать</a>
                            </div>
                            <div class="slide__img">
                                <img src="./assets/images/work.png" alt="Поездка в г.Кашин" class="img__img">
                            </div>
                        </div>
                        <div class="work__slide">
                            <div class="slide__content">
                                <h3 class="slide__title">Поездка в г.Кашин</h3>
                                <p class="slide__text">
                                    6 сентября 2018 года, в солнечный четверг, наша команда волонтеров посетила
                                    Социально-реабилитационный центр для несовершеннолетних в г. Кашине. В рамках
                                    договоренностей, были закуплены привезены необходимые хозяйственные и канцелярские
                                    товары, а также проведен культурно-исторических экскурс народов Уганды.
                                </p>
                                <a href="#" class="btn slide__btn">Читать</a>
                            </div>
                            <div class="slide__img">
                                <img src="./assets/images/work.png" alt="Поездка в г.Кашин" class="img__img">
                            </div>
                        </div>
                    </div>
                    <div class="wrap-slider__arrows">
                        <button class="arrow__btn arrow__btn--left"></button>
                        <button class="arrow__btn arrow__btn--right"></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section goals">
            <div class="container goals__container">
                <div class="goals__top">
                    <h2 class="subtitle goals__subtitle">Цели фонда на 2021 год</h2>
                    <div class="top__line"></div>
                </div>
                <div class="goals__content">
                    <div class="goals__text">
                        <ul class="text__list">
                            <li class="list__item">
                                <img src="./assets/images/goal.png" alt="цель" class="item__img">
                                <p class="item__text">
                                    Оказать финансовую помощь городской школе Уренгой для замены окон в нескольких
                                    помещениях.
                                </p>
                            </li>
                            <li class="list__item">
                                <img src="./assets/images/goal.png" alt="цель" class="item__img">
                                <p class="item__text">
                                    Провести спортивный праздник «Лидеренок 2014».
                                </p>
                            </li>
                            <li class="list__item">
                                <img src="./assets/images/goal.png" alt="цель" class="item__img">
                                <p class="item__text">
                                    Проспонсировать поездку на Всероссийский фестиваль детского и юношеского творчества
                                    «Вот оно какое, наше лето».
                                </p>
                            </li>
                        </ul>
                        <a href="#" class="text__link">Посмотреть все цели</a>
                    </div>
                    <div class="goals__graph">
                        <p class="graph__text">Необходимая сумма — 1 000 000₽</p>
                        <p class="graph__text">Собрано — 450 000₽</p>
                        <img src="./assets/images/graph.png" alt="#" class="graph__img">
                        <button class="btn graph__btn">Хочу помочь</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section gallery">
            <div class="container gallery__container">
                <div class="gallery__top">
                    <h2 class="subtitle gallery__subtitle">Фотогалерея добрых дел</h2>
                    <div class="gallery__arrows">
                        <button class="arrow__btn arrow__btn--left"></button>
                        <button class="arrow__btn arrow__btn--right"></button>
                    </div>
                </div>
                <div class="gallery__slider">
                    <div class="slider__slide">
                        <img src="./assets/images/gallery.png" alt="#" class="slide__img">
                    </div>
                    <div class="slider__slide">
                        <img src="./assets/images/gallery.png" alt="#" class="slide__img">
                    </div>
                </div>
                <div class="gallery__team">
                    <img src="./assets/images/team.png" alt="#" class="team__img">
                    <div class="team__content">
                        <div class="content__text">
                            <h2 class="subtitle team__subtitle">«Каждый ребенок имеет право на достойную жизнь!»</h2>
                            <p class="team__text">
                                Наш фонд стремится дать детям доступ к возможностям, которые помогут им преуспеть
                                в дальнейшей жизни и добиться поставленных целей!
                            </p>
                        </div>
                        <div class="team__row">
                            <p class="row__text">
                                <span class="text__bold">Горский Сергей Владимирович</span> <br>
                                Директор фонда — «Социальный щит»
                            </p>
                            <button class="btn row__btn">Наша команда</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section reviews">
            <div class="container reviews__container">
                <div class="reviews__top">
                    <h2 class="subtitle reviews__subtitle">Благодарности</h2>
                    <div class="top__line"></div>
                </div>
                <div class="reviews__slider-wrap">
                    <div class="reviews__slider">
                        <div class="slider__slide">
                            <div class="slide__content">
                                <div class="content__text">
                                    <h2 class="slide__subtitle">
                                        ГБУ "Социально-реабилитационный центр для несовершеннолетних" Старицкого района
                                    </h2>
                                    <p class="slide__text">
                                        Выражаем Вам искреннюю благодарность за поддержку и доброту, отзывчивость и участие,
                                        за внимание к детям при организации новогоднего мероприятия для наших воспитанников!
                                        Желаем Вам творческой энергии и настойчивости в достижении поставленных целей,
                                        успехов во всех делах, исполнения всех Ваших замыслов в наступающем 2018 году.
                                    </p>
                                </div>
                            </div>
                            <div class="slide__img">
                                <img src="./assets/images/reviews.png" alt="#" class="img__img">
                            </div>
                        </div>
                        <div class="slider__slide">
                            <div class="slide__content">
                                <div class="content__text">
                                    <h2 class="slide__subtitle">
                                        ГБУ "Социально-реабилитационный центр для несовершеннолетних" Старицкого района
                                    </h2>
                                    <p class="slide__text">
                                        Выражаем Вам искреннюю благодарность за поддержку и доброту, отзывчивость и участие,
                                        за внимание к детям при организации новогоднего мероприятия для наших воспитанников!
                                        Желаем Вам творческой энергии и настойчивости в достижении поставленных целей,
                                        успехов во всех делах, исполнения всех Ваших замыслов в наступающем 2018 году.
                                    </p>
                                </div>
                            </div>
                            <div class="slide__img">
                                <img src="./assets/images/reviews.png" alt="#" class="img__img">
                            </div>
                        </div>
                    </div>
                    <div class="reviews__arrows">
                        <button class="arrow__btn arrow__btn--left"></button>
                        <button class="arrow__btn arrow__btn--right"></button>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__top">
                    <nav class="top__menu">
                        <ul class="menu__list">
                            <li class="list__item">
                                <a href="#" class="item__link">Помогаем</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Команда</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Контакты</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Финансовые отчеты</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Сотрудничество</a>
                            </li>
                            <li class="list__item">
                                <a href="#" class="item__link">Документы</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="top__about">
                        <p class="about__text">
                            <span class="text__bold">Наш адрес:</span> <br>
                            г. Зеленоград, проезд 4806-й, д.6
                        </p>
                        <p class="about__text">
                            <span class="text__bold">Почта:</span> <br>
                            info@spsfond.ru
                        </p>
                        <div class="about__phones">
                            <a href="tel:+74993460918" class="phones__link">+7 (499) 346 09 18</a>
                            <a href="tel:+79671061107" class="phones__link">+7 (967) 106 11 07</a>
                        </div>
                        <div class="about__socials">
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/vk.svg" alt="#" class="link__img">
                            </a>
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/fb.svg" alt="#" class="link__img">
                            </a>
                            <a href="#" class="socials__link">
                                <img src="./assets/images/socials/inst.svg" alt="#" class="link__img">
                            </a>
                        </div>
                    </div>
                    <div class="top__out">
                        <a href="#" class="out__link"></a>
                        <p class="out__text">Copyright © 2018 - 2021</p>
                    </div>
                </div>
                <div class="footer__bottom">
                    <h3 class="bottom__subtitle">Наши партнеры</h3>
                    <ul class="bottom__list">
                        <li class="list__item"><a href="www.dolgovnet.msk.ru" class="item__link">www.dolgovnet.msk.ru</a></li>
                        <li class="list__item"><a href="www.graspolimer.ru" class="item__link">www.graspolimer.ru</a></li>
                        <li class="list__item"><a href="www.I-l.ru" class="item__link">www.I-l.ru</a></li>
                        <li class="list__item"><a href="www.consultp.ru" class="item__link">www.consultp.ru</a></li>
                        <li class="list__item"><a href="www.mhevent.ru" class="item__link">www.mhevent.ru</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <div class="blot-right"></div>
        <div class="blot-left"></div>

        <!-- Подключаем все скрипты -->
        <script src="./assets/scripts/jquery.min.js"></script>
        <script src="./assets/scripts/slick.js"></script>
        <script src="./assets/scripts/main.js"></script>
        <!-- Подключаем все скрипты -->
</body>

</html>